/*
 * Copyright (c) 2020 The ZMK Contributors
 * PHK
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h> 

&mt {
    tapping-term-ms = <200>;
};

 / {
    combos {
        compatible = "zmk,combos";
        combo_ent {
            timeout-ms = <50>;
            key-positions = <3 6>;
            bindings = <&kp TAB>;
        };
        combo_tab {
            timeout-ms = <50>;
            key-positions = <2 7>;
            bindings = <&kp ENTER>;
        };
        combo_mins {
            timeout-ms = <50>;
            key-positions = <13 16>;
            bindings = <&kp MINUS>; 
        };
    };
};

/ {

keymap {
                compatible = "zmk,keymap";

                default_layer {
                
                        bindings = <
   &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L  &kp U     &kp Y   &kp SEMI
   &kp A &kp R &kp S &kp T &kp G   &kp M &kp N  &kp E &kp I &kp O
   &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH
           &mt LALT BSPC &lt 1 ESC &kp LSHFT &kp SPACE &lt 2 ENTER &kp LGUI
         >;
                };

                lower_layer {

                        bindings = < 
   &kp EXCL &kp AT &kp DOLLAR &kp PLUS &kp PERCENT &kp STAR &kp EQUAL &kp UNDER &kp HASH &kp PIPE
   &kp N1   &kp N2   &kp N3   &kp N4    &kp N5    &kp N6   &kp N7    &kp N8   &kp N9    &kp N0
   &kp LBKT   &kp RBKT &kp LBRC &kp RBRC &kp TILDE &kp AMPS &kp LPAR &kp RPAR &kp CARET &kp BSLH
                    &trans &trans &trans &kp GRAVE &kp SQT &kp DQT 
                        >;
                };
                
                raise_layer {

                        bindings = <
   &kp C_VOL_DN &kp C_VOL_UP  &kp C_MUTE    &kp C_PP  &trans        &kp C_AC_CUT   &trans   &trans    &trans    &trans
   &bt BT_CLR     &kp C_AC_UNDO &kp C_AC_REDO &kp TAB   &kp C_AC_COPY &kp C_AC_PASTE &trans   &kp UP    &trans    &trans
   &bt BT_NXT    &trans    &bootloader        &reset    &kp CAPS        &trans         &kp LEFT &kp DOWN  &kp RIGHT &trans
                              &trans        &trans    &trans        &trans         &trans   &trans
                        >;
                };    
        };
};
